{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->
  {{if auth.user is not None:}}
  <!-- if you are logged on, iterate through checklists and display public --> 
  <!-- and private -->
  <!--   public: if you own it: --> 
  <!--               you can toggle -->
  <!--           else: disabled -->
  <!--   private: you can see yours and toggle yours -->
  <div class="add_btn">
    <a class="btn red rounded" href="{{=URL('default', 'add')}}"><i class="fa fa-plus"></i> Add</a>
  </div>

  {{for cl in checklists:}}
    {{if cl.is_public is True or cl.user_email == auth.user.email:}} 

      <div class="memo">
        <div class="memo_text">
          <div class="memo_title">{{=cl.title}}</div>
          <div class="memo_content">{{=cl.memo}}</div>
        </div>
        <div>
          <div class="button_list">
            <div class="buttons">
              {{if cl.user_email != auth.user.email:}}
                    <a class="btn_null rounded black disabled" >
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                  {{if cl.is_public is True:}}
                    <a class="btn_null rounded black disabled" >
                    <i class="fa fa-users"></i>
                  {{elif cl.user_email == auth.user.email:}}
                    <a class="btn_null rounded black disabled">
                    <i class="fa fa-user"></i>
                  {{pass}}
                  <a class="btn_null rounded red black disabled">
                    <i class="fa fa-trash fa-lg"></i>

              {{else:}}
                <a class="btn rounded" href="{{=URL('default', 'edit', args=[cl.id])}}">
                    <i class="fa fa-edit fa-lg"></i>
                </a>
                {{if cl.is_public is True:}}
                    <a class="btn rounded" href="{{=URL('default', 'toggle_public', args=[cl.id], user_signature=True)}}">
                    <i class="fa fa-users"></i>
                {{elif cl.user_email == auth.user.email:}}
                    <a class="btn rounded" href="{{=URL('default', 'toggle_public', args=[cl.id], user_signature=True)}}">
                    <i class="fa fa-user"></i>
                {{pass}}
                  <a class="btn rounded red" href="{{=URL('default', 'delete', args=[cl.id], user_signature=True)}}">
                    <i class="fa fa-trash fa-lg"></i>
              {{pass}}



              </a>
            </div>
          </div>
        </div>
      </div>
      {{pass}}
  {{pass}}

  {{if not checklists:}}
    <p>You don't have any checklist.  Press on the Add button above to create one.</p>

  {{pass}}

  {{else:}}
   <h1 class="main_title">Welcome!</h1>
  <!-- if you are !logged on, iterate through checklists and display public --> 
  <!--   public: can read, !toggle --> 
  <!--   private: !read -->

    <p class="explanation">This site will help you organize your life by storing your checklists.
        Please log in to use it.</p>

    <div class="login_button">
        <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
    </div>
 
  {{for cl in checklists:}}
      {{if cl.is_public is True:}}
          <div class="memo">
            <div class="memo_text">
              <div class="memo_title">{{=cl.title}}</div>
              <div class="memo_content">{{=cl.memo}}</div>
            </div>
            <div>
              <div class="button_list">
                <div class="buttons" >
                  <a class="btn_null rounded black disabled">
                    <i class="fa fa-edit fa-lg" ></i>
                  </a>
                  {{if cl.is_public is True:}}
                    <a class="btn_null rounded black disabled" >
                    <i class="fa fa-users"style="cursor:none"></i>
                  {{else:}}
                    <a class="btn_null rounded black disabled" >
                    <i class="fa fa-user"></i>
                  {{pass}}
                  <a class="btn_null rounded black disabled" >
                    <i class="fa fa-trash fa-lg"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
      {{else:}}
      {{pass}}
  {{pass}}

  {{pass}}

</div>
